<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">User Information</div>
            <div class="card-body">
                <div class="row">
                    <div class="xs-col-12 col-md-4 avatar-bg">
                        <img src=<%=bedrockData.icon%> alt="Profile Picture" class="avatar" onerror="this.src='images/logo.jpeg';">
                    </div>
                    <div class="xs-col-12 col-md-8">
                        <table class="table table-striped">
                            <tbody>
                              <tr>
                                <td>Gamertag</td>
                                <td><code><%=bedrockData.gamertag%></code></td>
                              </tr>
                              <tr>
                                <td>XUID</td>
                                <td><code><%=bedrockData.xuid%></code></td>
                              </tr>
                              <tr>
                                <td>Floodgate UUID</td>
                                <td><code><%=bedrockData.floodgateuid%></code></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <input type="button" class="btn btn-primary" onclick="location.href='/lookup';" value="Go Back">
                </div>
    
                
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>