<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">User Information</div>
            <div class="card-body">
                <div class="row">
                    <div class="xs-col-12 col-md-4 avatar-bg">
                      <div class="row align-items-center">
                        <div class="col-6 col-md-12">
                          <img class="skin-render" src=<%=bedrockData.skin%>>
                        </div>
                      </div>
                    </div>
                    <div class="xs-col-12 col-md-8">
                        <table class="table table-striped ">
                            <tbody>
                              <tr>
                                <td>Gamertag</td>
                                <td><code><%=bedrockData.gamertag%></code></td>
                              </tr>
                              <tr>
                                <td>XUID</td>
                                <td><code><%=bedrockData.xuid%></code></td>
                              </tr>
                              <tr>
                                <td>Floodgate UUID</td>
                                <td><code><%=bedrockData.floodgateuid%></code></td>
                              </tr>
                              <tr>
                                <td>AccountTier</td>
                                <td><code><%=bedrockData.accounttier%></code></td>
                              </tr>
                              <tr>
                                <td>Gamescore</td>
                                <td><code><%=bedrockData.gamescore%></code></td>
                              </tr>
                              <tr>
                                <td>Skin ID</td>
                                <td><code><%=bedrockData.textureid%></code></td>
                              </tr>
                              <tr>
                                <td>Geyser Linked</td>
                                <td><code><%=bedrockData.isLinked%></code></td>
                              </tr>
                              <% if (bedrockData.isLinked) { %>
                                <tr>
                                  <td>Java UUID</td>
                                  <td><code><%=bedrockData.java_uuid%></code></td>
                                </tr>
                                <tr>
                                  <td>Java Name</td>
                                  <td><code><%=bedrockData.java_name%></code></td>
                                </tr>
                              <% } %>
                            </tbody>
                        </table>
                    </div>
                    <input type="button" class="btn btn-primary" onclick="location.href='/lookup';" value="Go Back">
                </div>   
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>