<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">User Information</div>
            <div class="card-body">
                <div class="row">
                    <div class="xs-col-12 col-md-4 avatar-bg">
                      <canvas id="skin_container"></canvas>
                    </div>
                    <div class="xs-col-12 col-md-8 table-responsive">
                        <table class="table table-striped">
                            <tbody>
                              <tr>
                                <th colspan="2" class="theader">Microsoft Account Information</th>
                              </tr>
                              <tr>
                                <th>Gamertag</th>
                                <td><code><%=bedrockData.gamertag%></code></td>
                              </tr>
                              <tr>
                                <th>XUID</th>
                                <td><code><%=bedrockData.xuid%></code></td>
                              </tr>
                              <tr>
                                <th>AccountTier</th>
                                <td><code><%=bedrockData.accounttier%></code></td>
                              </tr>
                              <tr>
                                <th>Gamescore</th>
                                <td><code><%=bedrockData.gamescore%></code></td>
                              </tr>
                              <tr>
                                <th colspan="2" class="theader">GeyserMC Information</th>
                              </tr>
                              <tr>
                                <th>Geyser Linked</th>
                                <td><code><%=bedrockData.isLinked%></code></td>
                              </tr>
                              <tr>
                                <th>Floodgate UUID</th>
                                <td><code><%=bedrockData.floodgateuid%></code></td>
                              </tr>
                              <% if (bedrockData.isLinked) { %>
                                <tr>
                                  <th>Java UUID</th>
                                  <td><code><%=bedrockData.java_uuid%></code></td>
                                </tr>
                                <tr>
                                  <th>Java Name</th>
                                  <td><code><%=bedrockData.java_name%></code></td>
                                </tr>
                              <% } %>
                            </tbody>
                        </table>
                    </div>
                    <input type="button" class="btn btn-primary mt-3" onclick="location.href='/lookup';" value="Go Back">
                </div>   
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="./js/skinview3d.bundle.js"></script>
  
<script>
  const skinURL = '<%=bedrockData.skin%>'
  let skinViewer = new skinview3d.SkinViewer({
    canvas: document.getElementById("skin_container"),
    width: 250,
    height: 350,
    skin: skinURL
  })
  // Set the background to a panoramic image
  skinViewer.loadPanorama("./images/panorama.png")
  // Apply an animation
  skinViewer.animation = new skinview3d.IdleAnimation()
  // Set the speed of the animation
  skinViewer.animation.speed = 1
</script>

</body>

<%- include('../partials/footer.ejs') %>