<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
  <div class="container">
    h1>Welcome <%= user %>
      </h1>
      <p>This is your dashboard. You are logged in as <%= user %>.</p>
  </div>
</body>

<%- include('../partials/footer.ejs') %>