<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="/js/skinview.js"></script>
<script src="/js/skinview3d.bundle.js"></script>
<script src="/js/skinview3d.bundle.js.map"></script>

<body>
  <div class="container">
    <div class="card">
      <div class="card-header">User Information</div>
      <div class="card-body">
        <div class="row">
          <div class="xs-col-12 col-md-4 avatar-bg">
            <canvas id="skin_container"></canvas>
          </div>
          <div class="xs-col-12 col-md-8">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>Username</th>
                  <td><code><%=javaData.name%></code></td>
                </tr>
                <tr>
                  <th>UUID</th>
                  <td><code><%=javaData.uuid%></code></td>
                </tr>
                <tr>
                  <th>Skin Url</th>
                  <td><a href="<%=javaData.skin%>" target="_blank">Skin</a></td>
                </tr>
                <tr>
                  <th>Cape Url</th>
                  <% if (javaData.cape) { %>
                    <td><a href="<%=javaData.cape%>" target="_blank">Cape</a></td>
                  <% } else { %>
                    <td>Player wears no cape</td>
                  <% } %>
                </tr>
                <tr>
                  <th colspan="2" class="theader">GeyserMC Information</th>
                </tr>
                <tr>
                  <th>Geyser Linked</th>
                  <td><code><%=javaData.isLinked%></code></td>
                </tr>
                <% if (javaData.isLinked) { %>
                  <tr>
                    <th>Bedrock Gamertag</th>
                    <td><code><%=javaData.bedrock_gamertag%></code></td>
                  </tr>
                  <tr>
                    <th>Bedrock XUID</th>
                    <td><code><%=javaData.bedrock_xuid%></code></td>
                  </tr>
                  <tr>
                    <th>Bedrock Floodgate UUID</th>
                    <td><code><%=javaData.bedrock_fuid%></code></td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
          <input type="button" class="btn btn-primary mt-3" onclick="location.href='/lookup';" value="Go Back">
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  const skinURL = '<%=javaData.skin%>'
  const capeURL = '<%=javaData.cape%>'
  initSkinViewer(skinURL, capeURL)
</script>

<%- include('../partials/footer.ejs') %>