<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
  <div class="container">
    <h1>Lost Password</h1>
    <% if (error) { %>
      <p>
        <%= error %>
      </p>
      <% } else if (success) { %>
        <p>
          <%= success %>
        </p>
        <% } %>
          <form method="post" action="/auth/lost-password">
            <div>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>
          <p>Remembered your password? <a href="/auth/login">Login</a></p>
  </div>
</body>

<%- include('../partials/footer.ejs') %>