<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
  <div class="container">
    <h1>Email Verification</h1>
    <% if (error) { %>
      <p>
        <%= error %>
      </p>
      <% } else if (success) { %>
        <p>
          <%= success %>
        </p>
        <% } %>
  </div>
</body>

<%- include('../partials/footer.ejs') %>